<ion-view hide-nav-bar="true" class="walkthrough-view" cache-view="false">
  <ion-content scroll="false" class="fondo-login">
    <div class="top-content row">
       <div class="row row-center">

  <div class="col">  
    <img ng-src="img/logos/logo_login.png"></div>
    
      </div>
  
</div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
      <center>
      <a class="login button button-block button-stable" ui-sref="app.bares-todos()">
          Continuar con Facebook
        </a>
         <br>
        <a class="mi-cuenta" ui-sref="app.bares-todos">Iniciar sesión con mi cuenta</a>  <br>
        <img ng-src="img/botones/Forma-1.png"><br>
        <a class="mi-cuenta" ui-sref="app.bares-todos">¿No tenés una cuenta? Registrate</a> 
         </center>       
      </div>
    </div>
  </ion-content>
</ion-view>