<ion-view view-title="Favoritos" hide-back-button="true">
<ion-nav-bar class="bar-assertive" align-title="left">
        <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: #336699;"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-search" id="menu-popover" ng-click="popover.show($event)" style="color: #336699;"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

    <ion-content class="fondo-img" overflow-scroll="false">            
      

             <div class="bar bar-subheader bar-stable static text-center">
            <div class="tabs tabs-striped tabs-royal tabs-icon-left"> 
            <a nav-transition="none" ng-click="getFavoritosBoliches()" class="tab-item active"> <i class="icon icono-boliche-azul"></i> Boliches </a> 
            <a nav-transition="none" href="#/app/favoritos-bares" ng-click="getFavoritosBares()" class="tab-item " style="color: #fff;"> <i class="icon icono-bares-blanco" ></i> Bares </a>             
            <a nav-transition="none" href="#/app/favoritos-hoteles" ng-click="getFavoritosHoteles()" class="tab-item" style="color: #fff;"> <i class="icon icono-hotel-blanco"></i> Hoteles </a> </div>  
             </div>

           <div class="destacados">
<ion-list>
            <ion-item class="item item-thumbnail-left waves-effect" ng-repeat="favorito in favoritos_boliches" ui-sref="app.establecimientos({ 
          categoryId: favorito.id, 
          categoryTitle: favorito.title,
          categoryLogo: favorito.avatar,
          categoryFondo: favorito.portada,          
          categoryEtiquetas: favorito.etiquetas,
          categoryDescripcion: favorito.descripcion,
          categoryUbicacion: favorito.ubicacion,
          categoryLatitud: favorito.latutid,
          categoryLongitud: favorito.longitud   })">
              <img ng-src="{{favorito.avatar}}">  
              <div class="favoritos-box"> 

              <rating id="rating_responsive" class="favoritos-box-right" ng-model="favorito.reviews" max="5"></rating>

              <p class="favoritos-box-left">{{favorito.nombre}}</p>
              <p>{{favorito.etiquetas}}</p>
              
             </div>

            </ion-item>           

</ion-list>
</div>



        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
